{% load static %}

<!-- Start of Footer -->
</body>
<script src="{% static 'Assets/js/bootstrap.min.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<footer class="container-fluid text-center p-5 mt-4">
    <div class="row">
        <div class="col-2">
            <h4><u>Navigator</u></h4>
            <p class="nav-link"><a href="/home">Home</a></p>
            <p class="nav-link"><a href="/cart">Bookings</a></p>
            <p class="nav-link"><a href="/offers">Offers</a></p>
            <p class="nav-link"><a href="">About Us</a></p>
        </div>
        <div class="col-5">
            <h4><u>Quick Links</u></h4>
            <p class="nav-link"><a href="">Contact Us</a></p>
            <p class="nav-link"><a href="">Terms & Conditions</a></p>
            <p class="nav-link"><a href="">Privacy Policy</a></p>
            <p class="nav-link"><a href="">Help</a></p>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    <h4><u>News</u></h4>
                    <p class="nav-link"><a href="">Government</a></p>
                    <p class="nav-link"><a href="">New Openings</a></p>
                </div>
                <div class="col-6">
                    <h4><u>Events</u></h4>
                    <p class="nav-link"><a href="">Events Calender</a></p>
                    <p class="nav-link"><a href="">Upcoming Events</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4><u>Complaints</u></h4>
                    <p class="nav-link"><a href="">Register Complaints</a></p>
                    <p class="nav-link"><a href="">Complaints Status</a></p>
                </div>
                <div class="col-6">
                    <h4><u>feedback</u></h4>
                    <p class="nav-link"><a href="">FAQ</a></p>
                    <p class="nav-link"><a href="">Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid copy">&copy; 2024 Copyright: Banquet Booking and Event Celebration </div>
</footer>

</html>
<!-- End of Footer -->