{% extends 'base.html' %}

{% block 'main' %}
{% load static %}

<body>

    <div class="container-md mt-1 p-5">
        <div id='rssBlock'>
            <p class="cnnContents">
                <span class="marqueeStyle">We have the best banquets on our portal with best menu collections and best offers</span>
                <!-- duplicate above, change style to allow continous scroll -->
            </p>
        </div>
    </div>
    <!-- <div class="container-md mt-3">
        <h5>How to Book (In 3 easy steps)</h5>
        <div class="row" id="HTB">
            <div class="col-4"><a>1. Select Banquet</a></div>
            <div class="col-4"><a>2. Select Menu</a></div>
            <div class="col-4"><a>3. Book</a></div>
        </div> -->
    </div>
    <div class="container-md mt-5">
        <h5>Select your event</h5>
        <div class="row" id="Tcat">
            <div class="col-2"><a href="/banquets">Party</a></div>
            <div class="col-2"><a href="/banquets">Family Functions</a></div>
            <div class="col-2"><a href="/banquets">Wedding</a></div>
            <div class="col-2"><a href="/banquets">Birthday</a></div>
            <div class="col-2"><a href="/banquets">Other Events</a></div>
        </div>
    </div>
    <hr>
    <div class="container-lg mt-5">
        <h3 class="text-center m-5">Top Banquet</h3>
        <div class="row" id="TopB">
            {% for x in rfive %}
            <div class="col-2 shadow  p-0 m-1 " style="height:200px;width: 200px;">
                <img src="{{x.bimage1.url}}" alt="">
                <a href="/banqpreview/{{x.id}}" style="transform: translateY(80px);">{{x.name}}</a></div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="container-md lg-5 mt-5" id="Banquetindex">
        <h3 class="text-center m-3 mt-5">Our Banquets</h3>
        <div class="row" id="OurB">

            {% for x in Banquets %}
            {% if x.id == 9 %}
            <div class="container-md">
                <p></p>
            </div>
            {% else %}

                <div class="product-card col-3 m-3 p-0" style="width: 250px;" data-aos="fade-up">
                    <img src="{{x.bimage1.url}}"  alt="">
                    <div class="card-body mt-4">
                        <div class="card-info">
                            <h5 class="text-center">{{x.name}}</h5>
                            <h6 class="text-center">
                                <img src="https://cdn4.iconfinder.com/data/icons/twitter-29/512/157_Twitter_Location_Map-256.png" alt="">{{x.location}}</h6>
                        </div>
                        <div class="card-button">
                            <a href="banqpreview/{{x.id}}" class="shadow">Visit</a>
                        </div>
                    </div>
                </div>
            {% endif %}


            {% endfor %}


        </div>
    </div>
    <hr>

    <div class="container-md mt-5">
        <h3 class="text-center m-3">Our Menus</h3>
        <p class="text-center">Across all the tie-up Banquets</p>
        <div class="row" id="Menu">

            <div class='col-6 mt-4' id="menucontainer" data-aos="flip-up">
                <h5 class="text-center m-3">
                    <u>
                        <section class="form-check form-switch w-100">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><u>Indian Veg</u></label>

                        </section>
                    </u>
                </h5>
                {% for z in indveg %}
                <p class="text-center">{{z.name}}</p>
                {% endfor %}
            </div>

            <div class='col-6 mt-2' id="menucontainer" data-aos="flip-up">
                <h5 class="text-center m-3"><u>
                        <section class="form-check form-switch w-100">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><u>Indian Non-Veg</u></label>

                        </section>
                    </u></h5>
                {% for z in indnonveg %}
                <p class="text-center">{{z.name}}</p>
                {% endfor %}
            </div>

            <div class='col-6 mt-4' id="menucontainer" data-aos="flip-up">
                <h5 class="text-center m-3"><u>
                        <section class="form-check form-switch w-100">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><u>Chinese</u></label>

                        </section>
                    </u></h5>
                {% for z in chinese %}
                <p class="text-center">{{z.name}}</p>
                {% endfor %}
            </div>

            <div class='col-6 mt-2' id="menucontainer" data-aos="flip-up">
                <h5 class="text-center m-3"><u>
                        <section class="form-check form-switch w-100">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><u>Continental</u></label>

                        </section>
                    </u></h5>
                {% for z in continental %}
                <p class="text-center">{{z.name}}</p>
                {% endfor %}
            </div>

            <div class='col-6 mt-2' id="menucontainer" data-aos="flip-up">
                <h5 class="text-center m-3"><u>
                        <section class="form-check form-switch w-100">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><u>Maharastrian Agri
                                    Koli</u></label>

                        </section>
                    </u></h5>
                {% for z in MaharastrianAgriKoli %}
                <p class="text-center">{{z.name}}</p>
                {% endfor %}
            </div>

            <div class='col-6 mt-2' id="menucontainer" data-aos="flip-up">
                <h5 class="text-center m-3"><u>
                        <section class="form-check form-switch w-100">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><u>Malvani</u></label>

                        </section>
                    </u></h5>
                {% for z in Malvani %}
                <p class="text-center">{{z.name}}</p>
                {% endfor %}
            </div>

            <div class='col-6 mt-2' id="menucontainer" data-aos="flip-up">
                <h5 class="text-center m-3"><u>
                        <section class="form-check form-switch w-100">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><u>South-Indian</u></label>

                        </section>
                    </u></h5>
                {% for z in SouthIndian %}
                <p class="text-center">{{z.name}}</p>
                {% endfor %}
            </div>

            <div class='col-6 mt-2' id="menucontainer" data-aos="flip-up">
                <h5 class="text-center m-3"><u>
                        <section class="form-check form-switch w-100">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><u>Rajastani</u></label>

                        </section>
                    </u></h5>
                {% for z in Rajastani %}
                <p class="text-center ">{{z.name}}</p>
                {% endfor %}
            </div>

        </div>
    </div>


</body>

{% endblock 'main' %}