{% extends 'base.html' %}

{% block 'main' %}
{% load static %}

<div class="container-md mt-3">
    <div class="container">
        <h3 class="text-center">Our Offers</h3>
        <p class="text-center">Valid across all the tie-up Banquets</p>
    </div>
    <div class="container text-center" id="offers">
        <h5>Booking over 2 Lakhs will get 10% discount</h5>
        <div class="container p-4 mt-3">
            <h4><u>On Billing Over 5 Lakhs</u></h4>
            <p>Get free complimentry Ice-Cream for 50 guests</p>
            <p>Get free complimentry Cake for 50 guests</p>
        </div>
        <h5>Booking over 5 Lakhs will get 15% discount</h5>
        <h5>Booking over 10 Lakhs will get 20% discount</h5>
        <h5>Booking over 15 Lakhs will get 25% discount</h5>
        <h5>Booking over 20 Lakhs will get 30% discount</h5>
    </div>
</div>

{% endblock 'main' %}